name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # This new action sets up Gradle and handles caching
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      # A separate step is now used to run the build
      - name: Build with Gradle
        run: ./gradlew :web:jsBrowserDistribution

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: web/build/dist/js/productionExecutable
          branch: gh-pages
