name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # The gradle-build-action handles Java setup and caching
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: ':web:jsBrowserDistribution'

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: web/build/dist/js/productionExecutable
          branch: gh-pages
